name: CI

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

jobs:
  changes:
    uses: LevitateOS/LevitateOS/.github/workflows/detect-changes.yml@master
    with:
      type: python

  ci:
    needs: changes
    if: needs.changes.outputs.has_changes == 'true'
    uses: LevitateOS/LevitateOS/.github/workflows/python-ci.yml@master
    with:
      python-version: '3.11'
      check-imports: 'train_lora generate_data llm_server evaluate'
